h1 {
	margin-top: 5rem;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.in,
.lrb {
	width: 20rem;
	align-self: center;
}

.options {
	align-self: center;
}
.nlabel {
	text-align: center;
	margin-bottom: 0;
}
.flabel {
	width: 20rem;
	align-self: center;
	margin-bottom: 0;
}
.lrb {
	margin-top: 1rem;
}
#ano {
	text-align: center;
}
.cen input {
	width: 19rem;
}
.cen span {
	width: 2rem;
}
.cen {
	margin-top: 1rem;
}
.pdis {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pollin {
	text-align: center;
	text-decoration: none;
	font-size: 2rem;
	border: 1px solid black;
	border-radius: 25px;
	padding: 0.5rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
#phi {
	font-size: 3rem;
}
.dps1 {
	margin-top: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.dps2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.delete-btn {
	width: 90px;
	margin: 1rem auto;
}
.prp {
	margin: 0 auto;
}
